/* 전체 스타일 */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  /* 헤더 스타일 */
  header {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-image {
    margin-right: 30px;
  }
  
  .profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .header-content h1 {
    margin: 0 0 10px;
    font-size: 32px;
    font-weight: 700;
  }
  
  .header-content p {
    margin: 0;
    font-size: 18px;
  }
  
  /* 섹션 스타일 */
  section {
    padding: 40px;
  }
  
  section h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
  }
  
  .skill-list, .interest-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .skill-list li, .interest-list li {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    font-size: 14px;
  }
  .skill-list li:hover ,.interest-list li:hover{
    transition: 0.5s;
    background-color: skyblue;
    transform: scale(110%);
  }
  #line{
    text-decoration: line-through;
  }
  .education-item, .experience-item {
    margin-bottom: 30px;
  }
  
  .education-item h3, .experience-item h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: 700;
  }
  
  .education-item p, .experience-item p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  /* 푸터 스타일 */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  